:80 {
    respond "Hello, world!"

    handle /jenkins* {
		reverse_proxy localhost:8080
	}
    handle /sonar* {
		reverse_proxy localhost:1111
	}
    handle /registry* {
		reverse_proxy localhost:5000
	}
}
