:80 {
    respond "Hello, world!"

    handle /jenkins* {
		reverse_proxy jenkins-blueocean:8080
	}
    handle /sonar* {
		reverse_proxy sonar:1111
	}
    handle /registry* {
		reverse_proxy registry:5000
	}
}
